<label class="text-input__label" for="{{ inputID }}">
    {{ inputName }}
</label>
<input id="{{ inputID }}" data-event="{{ event }}" class="text-input text-input__text" placeholder="{{ inputPlaceholder }}"
     type="{{ inputType }}"/>
<span class="text-input__error">{{ inputErrorMessage }}</span>
