<div class="tickets__header">
    <span class="tickets__header-text">Текущие заказы</span>
</div>
<div class="tickets__wrapper">
    {{#with tickets }}
        <div class="tickets__ticket">
            <div class="ticket__title">
                {{ movie }}
            </div>
            <div class="ticket__info">
                {{ date }}
            </div>
            <div class="ticket__info">
                {{ time }}
            </div>
            <a class="ticket__cinema" href="/cinema/" data-event="changePath" data-path="/cinema/">{{ cinema }}</a>
            <div class="ticket__info">
                {{ hall }} зал | {{ row }} ряд | {{ place }} место
            </div>
        </div>
    {{/with}}
</div>
