<div class="slider">
    {{{ Slider }}}
</div>
<div class="movie-list">
    <div id="film_premiers" class="movie-list__header">Премьеры</div>
    <hr class="header__line movie-list__line">
    {{{ Filtration }}}
    <hr class="header__line movie-list__line">
    {{{ MovieList }}}
    {{{ Validation }}}
</div>
<div class="movie-list">
    <div id="film_recommendations" class="movie-list__header">Рекомендации</div>
    <hr class="header__line movie-list__line">
    {{{ MovieListRecomm }}}
</div>
