<div class="profile__header">
    Личный кабинет
    <div class="profile__header-logout">
        <a class="logout__text" href="{{ LogoutPath }}" data-path="{{ LogoutPath }}" data-event="{{ LogoutEvent }}">Выйти</a>
    </div>
</div>
<hr class="header__line">
<div class="profile">
    <div class="edit cs-border">
        {{{ ProfileEdit }}}
    </div>
    <div class="tickets cs-border">
        {{{ ProfileActualTickets }}}
    </div>
    <div class="tickets cs-border">
        {{{ ProfileHistoryTickets }}}
    </div>
</div>
