<label class="selection__label" for="{{ id }}">
    <div class="selection__title">
        {{ label }}
    </div>
    <select id="{{ id }}" class="selection__field">
        {{#each values}}
            <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
</label>
