<div class="userblock" data-event="dropProfileNavigation">
    {{#if isAuthorized }}
        <a style="padding-left: 100px" href="{{ ProfilePath }}" class="userblock__item" data-event="{{ ProfileEvent }}"
           href="#"
           data-path="{{ ProfilePath }}">{{ name }}</a>

        <div class="userblock__item">
            <a href="{{ ProfilePath }}" data-event="{{ ProfileEvent }}" data-path="{{ ProfilePath }}">
                {{{ Avatar }}}
            </a>
        </div>
        <div class="userblock__item" style="margin-right: 1.5rem">
            <svg width="26" height="12" viewBox="0 0 26 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2L13 10L24 2" stroke="white" stroke-width="4" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="userblock__drop">
            {{{ DropProfileNavigation }}}
        </div>
    {{ else }}
        <div class="userblock__item">
            {{{ StandardButton }}}
        </div>
    {{/if}}
</div>
