<div class="movie-description">
    <div class="movie-description__media-block">
        <div class="media-block__poster">
            {{#if isAuthorized }}
                <div class="media-block__rating {{#unless personalRating }}hidden{{/unless}}">
                    <p class="media-block__rating-p">{{ personalRating }}</p>
                </div>
            {{/if}}
            <img class="media-block__poster-img" src="{{ pathToAvatar }}" alt="">
        </div>
        {{#if isAuthorized }}
            <div class="media-block__rate">
                <div class="media-block__rate-title">Оценить</div>
                {{#each maxRating }}
                    <button class="media-block__rate-field">
                        <svg class="media-block__rate_star" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24">
                            <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                        </svg>
                    </button>
                {{/each}}
                {{{ StandardButton }}}
            </div>
        {{/if}}
    </div>
    <div class="movie-description__description-block">
            <span class="description-block__title">
                {{ name }}
            </span>
        <span class="description-block__specification">
                {{ releaseYear }}, {{ country }}, {{ duration }} мин, {{ ageGroup }}+
            </span>
        <span class="description-block__specification">
            {{#each genreList}}
                {{ this }}
            {{/each}}
        </span>
        <span class="description-block__description">
            {{ description }}
        </span>
        <div class="description-block__information">
            <span class="description-block__information-title">Рейтинг</span>
            {{ rating }}/10 ({{ratingCount}})
        </div>
        <div class="description-block__information">
            <span class="description-block__information-title">Режиссер</span>
            {{ producer }}
        </div>
        <div class="description-block__information">
            <span class="description-block__information-title">В ролях</span>
            {{#each actorList}}
                {{ this }}
            {{/each}}
        </div>
    </div>
</div>
