<button data-event="{{ event }}" data-path="{{ url }}" data-place="{{ place }}" data-row="{{ row }}" data-session="{{ sessionID }}"
        class="button button-seat {{#if isOccupied }} button-seat-occupied {{/if}} button-seat__text">
    {{ buttonName }}
</button>
