<div class="slider__wrapper">
    {{#each movies}}
        <div class="slider__item">
            <div class="slider__background">
                <div class="item__layout">
                    <div class="layout__main">
                        <div class="layout__main_roles">
                            <div style="display: flex; flex-direction: column;">
                                {{#each actorList }}
                                    <p>
                                        {{ this }}
                                    </p>
                                {{/each}}
                            </div>
                        </div>
                        <p class="layout__main_headline">{{ name }}</p>
                        <div class="main__button">{{{ BigButton }}}</div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
<a data-event="{{ SliderEvent }}" class="slider__control slider__control_left slider__control_show" href="#" role="button"></a>
<a data-event="{{ SliderEvent }}" class="slider__control slider__control_right slider__control_show" href="#"
   role="button"></a>
