<div class="movie-description">
    {{{ MovieDescription }}}
</div>
<div id="schedule" class="movie-schedule">
    <div class="movie-list__header" style="margin-top: 30px">Расписание</div>
    <hr class="header__line movie-list__line">
    {{{ Filtration }}}
    <hr class="header__line movie-list__line">
    {{{ MovieSchedule }}}
    {{{ Validation }}}
    <hr class="movie-card__description_schedule-line">
</div>
<div class="movie-review">
    {{{ MovieReview }}}
</div>
