<button data-event="{{ event }}" data-path="{{ url }}" data-id="{{ id }}" class="button button__schedule button-schedule">
        <span>{{ scheduleTime }}</span>
        <span>{{ schedulePrice }} ₽</span>
</button>
